# Dependencies
node_modules/
.dart_tool/
.pub-cache/

# Build outputs
backend/dist/
app/build/

# Environment & Secrets
.env
.env.*
!.env.example
**/google-services.json
**/GoogleService-Info.plist


# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
!*.tfvars.example

# macOS
.DS_Store

# Flutter
*.g.dart
*.freezed.dart
